@model EasyPregunto.Models.TutorVO

@{
    Layout = "~/Views/Shared/UsuarioSesion.cshtml";
}

<div style="margin-left:250px">
    <h3>ESTAMOS CONTACTANDO A TU TUTOR......</h3>
    <br />
</div>

<div style="margin-left:250px; class="embed-container"">
    <h4>Te invitamos a jugar, mientras tu tutor se conecta</h4>

    <iframe src='http://www.minijuegostop.com.mx/showFlash.php?id=14390' width='540' height='445' frameborder=0></iframe>
</div>